* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

:root {
    --color-base1: #4e0883;
    --color-base2: #eea1fd;
    --color-base3: #ff00dd;

}
 html{
    scroll-behavior: auto;
 }

body {
    background: var(--color-base1);
    margin: 0;
    font-family: "Poppins", sans-serif;


}

.contenedorG {
    margin: 20px;
    width: 97%;
    height: 94vh;
    background-color: transparent;
    border: solid 4px var(--color-base3);
    box-shadow: 0 0 25px rgba(255, 0, 200, 0.6);
    position: absolute;
    border-radius: 20px;

}

.navbar {
    display: flex;
    width: 93%;
    margin: 30px;
    height: 80px;
    background: linear-gradient(90deg, #ff2fb3, #c400ff);
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(255, 0, 200, 0.6);
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
    z-index: 4000;
    position: fixed;

}

.nav-left {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: nowrap;
}

.navbar-logo {
    position: relative;
    width: 120px;
    height: auto;
    right: 20px;

    border: 3px solid #ff2fb3;
    border-radius: 50%;
    transition-property: transform;
    transition-duration: .3s;


}

.navbar-logo:hover {
    transform: scale(1.1);
}

.nav-links {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;


    padding: 0;
    margin: 0;

}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 12px;
    font-size: 20px;
    transition: all .3s;

}

.nav-links li {
    display: inline-block;
}

.nav-links a:hover {
    background: rgba(255, 2555, 255, 0.2);
}

.search {
    display: flex;
    background: rgba(255, 255, 255, .25);
    border: none;
    outline: none;
    padding: 8px 14px;
    border-radius: 20px;
    color: #fff;
    width: 200px;

    align-self: center;
    font-size: 16px;
    transition-property: width, background;
    transition-duration: 1s;



}

.search::placeholder {
    color: #ffe1f5;
}

.search:focus {
    width: 400px;
    background: rgba(253, 199, 249, 0.61);
}

.nav-right {
    display: flex;
    align-items: center;
    padding-right: 30px;

}

.main {
    padding-top: 180px;
    overflow-x: hidden;

}


.footer {
    text-align: center;
    color: #a95be4;
    opacity: .3;
}
.botonWSP{
    position: fixed;
    z-index: 5000;
    width: 104px;
    height: 104px;
    background-color: transparent;
    
    left: 89%;
    top: 80%;
    transition: transform .3s;
    animation: animWSP alternate infinite 1s;
}
.botonWSP img{
    width: 100px;
    height: auto;
    
}
.botonWSP:hover{
    transform: scale(1.2);
}

@keyframes animWSP{
    0%{
        transform: scale(1) skew(-6deg);
        filter: hue-rotate(500deg);
        
    }
    100%{
        transform: scale(1.1) skew(6deg);
    }

}


@media screen and (max-width:600px) {

    .contenedorG {
        margin: 20px;
        width: 92%;
        height: 1360px;
        z-index: 1001;

    }


    .navbar {
        display: flex;
        margin: 30px;
        
        height: 50px;
        border-radius: 30px;
        justify-content: center;
        width: 80%;
        z-index: 4000;
        

    }
    .search{
        display: none;
    }
    .navbar-logo {
    position: relative;
    width: 85px;
    height: auto;
    
    z-index: 2000;
}
.nav-links a {
    padding: 8px 10px;
    border-radius: 12px;
    font-size: 20px;
}
.main {
    padding-top: 150px;
    z-index: 500;
}

.botonWSP{
    
    z-index: 5000;

   
    left: 70%;
    top: 80%;
    transition: transform .3s;
    animation: animWSP alternate infinite 1s;
}


}